@media (max-width: 600px) {
    .visa-9.pt-lg-4 {
      height: 1150px !important;
    }
    .ticket-9.pt-lg-4 {
        height: 1200px !important;
      }
      .general-9.pt-lg-4{
        height: 730px !important;
      }
      .Insurance-9.pt-lg-4 {
        height: 1050px !important;
      }
    
      
  }
  
  @media (max-width: 600px) {
    
    .ticket-9.pt-lg-4 {
        height: 1150px !important;
      }
  }

 
