@media (max-width: 600px) {
    .visa-9.pt-lg-4 {
      height: 1150px !important;
    }
    .ticket-9.pt-lg-4 {
        height: 1200px !important;
      }
      .general-9.pt-lg-4{
        height: 730px !important;
      }
      .Insurance-9.pt-lg-4 {
        height: 1050px !important;
      }
      .navbar .navbar-brand {
        position: absolute;
        font-size: 20px !important;
        margin-top: 5px !important;
   
      }

      
      
    
    

      .navbar .navbar-toggler{
      
        margin-left: 260px !important;
        margin-bottom: 10px !important;
      }
      
  }
  
  @media (max-width: 600px) {
    
    .ticket-9.pt-lg-4 {
        height: 1150px !important;
      }
  }

 




  @media (max-width: 330px) {
    
  

    #hr {
 
      font-size: 18px !important;
     
      /* margin-bottom: 100px !important  ; */
 
    }


    .navbar .navbar-expand-lg .stroke{
      width: 100% !important;
      
      
    }
    .theme-switch-wrapper{
      display: none;
    }
  

    .navbar .navbar-toggler{
    
      margin-bottom: 10px !important;
      /* margin-left: 20px !important; */
    }

    .navbar {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content:left;
     
      margin-right:30px !important;
    }
    
    
}

  

  @media (max-width: 380px) {
    
  

      #hr {
   
        font-size: 20px !important;
       
        /* margin-bottom: 100px !important  ; */
   
      }


      .navbar .navbar-expand-lg .stroke{
        width: 100% !important;
        
        
      }
    
    

      .navbar .navbar-toggler{
      
        margin-bottom: 10px !important;
        /* margin-left: 20px !important; */
      }

      .navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content:left;
       
        margin-right:30px !important;
      }
      .theme-switch-wrapper{
        position: absolute !important;
        margin-left: 25px !important;
       
      }
      
      
  }


  @media (max-width: 450px) {
    
  

    #hr {
 
      font-size: 25px !important;
     
      /* margin-bottom: 100px !important  ; */
 
    }


    .navbar .navbar-expand-lg .stroke{
      width: 100% !important;
      /* margin-left: 50px !important; */
      
      
    }
  
  

    .navbar .navbar-toggler{
    
      margin-bottom: 10px !important;
      padding-left: 60px !important;
    }

    .navbar {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content:left;
     
      /* margin-right:30px !important; */
    }
    .theme-switch-wrapper{
      position: absolute !important;
      /* margin-left: 25px !important; */
     
    }
    
    
}


 